*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('img1.jpg');
}
.btn{
    font-size: 18px;
    margin-top: .2rem;
}
.app{
    background: rgb(237, 65, 237);
    width: 450px;
    height: 450px;
    text-align: center;
}
.game{
    width: 300px;
    height: 300px;
    background: rgba(161, 45, 176, 0.722);
    margin: 1rem auto;
    position: relative;
}
.game_time{
    font-size: 20px;
}
